kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: assisted-installer-controller
  namespace: assisted-deployment
roleRef:
  kind: ClusterRole
  name: assisted-installer-controller
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: assisted-installer-controller
    namespace: assisted-deployment
