apiVersion: v1
kind: ConfigMap
metadata:
  name: assisted-installer-controller-config
  namespace: assisted-deployment
  labels:
    app: assisted-installer-controller
data:
  cluster-id: {{.ClusterId}}
  inventory-host: {{.InventoryHost}}
  inventory-port: {{.InventoryPort}}