apiVersion: v1
kind: Secret
metadata:
  name: assisted-installer-controller-secret
  namespace: assisted-deployment
  labels:
    app: assisted-installer-controller
type: Opaque
stringData:
  pull-secret-token: {{.PullSecretToken}}
